.DS_Store
.vscode

WIP
# Practical solutions/W1P1
# Practical solutions/W1P2
Practical solutions/W1P2/3star-2
Practical solutions/W2P1
Practical solutions/W2P2
Practical solutions/W3P1/1star
Lectures/W3L2 switch statements/menuDemo-complete
Practical solutions/W3P2